@charset "utf-8";
@import url(img.css);

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tween
{
	backface-visibility: none;
}

#display
{
	width: 100%;
	height: 100%;

	overflow: hidden;

	background: radial-gradient(ellipse at center,  #88cada 0%, #9fc377 100%);
}

.timeBarsH
{
	width: 24px;
	height: 100%;

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	margin: auto;

	transform-origin: 50% 50%;

	transition: 1200ms ease-in-out;
}

.timeBarsH .unitWrapper
{
	width: inherit;
	height: 30%;

	background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);

	position: absolute;
	transform: translateY(70%);
}

.timeBarsM
{
	width: 24px;
	height: 100%;

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	margin: auto;

	transform-origin: 50% 50%;

	transition: 600ms ease-in-out;
}

.timeBarsM .unitWrapper
{
	width: inherit;
	height: 50%;

	background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);

	position: absolute;
	left:0; top: 0; right: 0; bottom: 50%;
}

.timeBlur-min
{
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.timeBlur-max
{
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.unitBar
{
	width: 8px;
	height: 100%;

	position: absolute;
	top: 0; bottom: 0;

	transform-origin: 0% 100%;
}

.hourBar
{
	left: 0px;
	background: #8ab446;
	transition: 800ms linear;
}

.minsBar
{
	left: 8px;
	background: #acc864;
	transition: 600ms linear;
}

.secsBar
{
	left: 16px;
	background: #d3e29d;
	transition: 400ms linear;
}

.gear
{
	width: 240px;
	height: 240px;
	position: absolute;

	left: 0; right: 0; bottom: -130px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-position: center center;

	opacity: 0.5;

	animation: gearFrames 800ms linear infinite;
}

@keyframes gearFrames
{
	0%		{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}





